* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body{
  font: 100% Tahoma, Arial, sans-serif;
  background: #fff;
  background-image: url(/assets/back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.root {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px;
}

.form {
  height: 0;
  position: relative;
  top: -1000px;
  visibility: none;
  width: 320px;
  margin: 0 auto;
  background-color: #0b82cc;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: 100;
  transition: all .2s ease-in-out;
}

.toggleBtn{
  display: block;
  width: 20px;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .2s ease-in-out;
}


.formActive {
  top: -10px;
  height: 160px;
  visibility: visible;
}

.toggleBtnActive {
  transform: rotate(180deg);
}

.toggleBtn:hover svg{
  fill:#0072ba
}

.logo{
  width: 300px;
  height: 70px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  margin: 10px 0;
}

.input {
  padding: 10px 20px;
  background-color: #ebebeb;
  border-radius: 30px;
  margin-left: auto;
  margin-bottom: 10px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 10px;
}

@media (min-width: 640px) {
  .cart {
    grid-template-columns: repeat(4, 1fr);
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .title{
    margin: 0;
  }
}

.cartItem {
  position: relative;
  height: 150px;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: all .2s ease-in-out;
}

.cartItem:hover .subTitle {
  background-color: #0072ba;
  color: white;
}

.cartItem:hover{
  transform: scale(1.05);
}

.cartItem img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItem .subTitle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-wrap: break-word;
  text-align:  center;
  color: black;

  background-color: rgba(135, 206, 250, 0.3);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  z-index: 10;

  padding: 0.5rem 0.75rem;

  transition: all .2s ease-in-out;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInputText{
  width: 280px;
  padding: 10px 20px;
  background-color: #ebebeb;
  border-radius: 30px;
  margin: 10px 0;
}

.formInputFile{
  width: 280px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
  margin-bottom: 10px;
}

.formInputFile::file-selector-button {
  margin-right: 10px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.formInputFile::file-selector-button:hover {
  background: #0d45a5;
}

.formBtn{
  padding: 10px;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #084cdf;
  color: #fff;
}
.formBtn:disabled{
  opacity: .6;
}

.alert{
  position: absolute;
  bottom: 10px;
  right: -100%;
  width: 300px;
  border-radius: 1.5rem;
  background-color: rgb(248, 74, 74);
  padding: 10px 20px;
  overflow-wrap: break-word;
  transition: all .2s ease-in-out;
}

.alertTitle{
  margin-bottom: 10px;
}

.closeAlert{
  position: absolute;
  top: 1px;
  right: 10px;
  background-color: transparent;
  font-size: 25px;
}

.spinner{
  display: none;
}

.spinnerIcon {
	position: absolute;
	left: 43%;
	top: 33%;
	width: 48px;
	height: 48px;
	border: 5px solid LightSkyBlue;
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	z-index: 50;
}

.spinnerOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: 40;
}

@keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}